.container{
    width: 600px;
    height: 600px;
    background-color: burlywood;
    display: grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: auto auto ; */
    grid-template-rows: repeat(4 , 1fr);
    grid-template-columns: repeat(3, 1fr);

}

.item{
    /* width: 100px;
    height: 100px; */
    background-color: chartreuse;
    border: 2px solid black;
    text-align: center;
}