h1{
    font-size: 30px;
    font-family: Arial;
    font-family: avant-garde,didot,sans-serif;
    
}
p{
    font-size: 20px;
    font-size: 1.5rem;
    font-family: impact;
}
h2{
    font-family:copperplate;
}