
/* 
# TRANSITION
The transition property is used to make a smooth change from one style to another.

Syntax
selector{
    transition: property duration timing-function delay;
}
Example
.box{
    width: 100px;
    height: 100px;
    background: red;
    transition: 0.5s;
}

.box:hover{
    background: blue;
}
 */

div{
    height: 100px;
    width: 100px;
    background-color: yellow;
    
}

div:hover{
    background-color: red;
    transition: 0.9s;
    border-radius: 50%;
}